* {
    box-sizing: border-box;
}

table {
    margin: 16px;
    border: 1px solid black;
    border-collapse: collapse;
}

td,
th {
    height: 50px;
    width: 50px;
    background-color: white;
    text-align: center;
    /* border: 1px solid black;
    border-collapse: collapse; */
}

.firstrow>td:nth-child(odd) {
    background-color: black;
}

.firstrow>td:first-child {
    background-color: white;
}

.secondrow>td:nth-child(even) {
    background-color: black;
}

.secondrow>td:last-child {
    background-color: white;
}

.firstrow>td:nth-of-type(2) {
    border: 1px solid black;
    border-collapse: collapse;
}

.secondrow>td:nth-of-type(9) {
    border: 1px solid black;
    border-collapse: collapse;
}

.firstrow>td:nth-of-type(9) {
    border: 1px solid black;
    border-collapse: collapse;
}

.first>td:nth-child(3) {
    border: 1px solid black;
    border-collapse: collapse;
}

.first>td:nth-child(4) {
    border: 1px solid black;
    border-collapse: collapse;
}

.first>td:nth-child(5) {
    border: 1px solid black;
    border-collapse: collapse;
}

.first>td:nth-child(6) {
    border: 1px solid black;
    border-collapse: collapse;
}

.first>td:nth-child(7) {
    border: 1px solid black;
    border-collapse: collapse;
}

.first>td:nth-child(8) {
    border: 1px solid black;
    border-collapse: collapse;
}

.first>td:nth-child(9) {
    border: 1px solid black;
    border-collapse: collapse;
}

.last>td:nth-child(3) {
    border: 1px solid black;
    border-collapse: collapse;
}

.last>td:nth-child(4) {
    border: 1px solid black;
    border-collapse: collapse;
}

.last>td:nth-child(5) {
    border: 1px solid black;
    border-collapse: collapse;
}

.last>td:nth-child(6) {
    border: 1px solid black;
    border-collapse: collapse;
}

.last>td:nth-child(7) {
    border: 1px solid black;
    border-collapse: collapse;
}

.last>td:nth-child(8) {
    border: 1px solid black;
    border-collapse: collapse;
}

.last>td:nth-child(9) {
    border: 1px solid black;
    border-collapse: collapse;
}