{
    "presets": [
        [
        "@babel/preset-env",
        {
            "targets": "last 2 version, > 2%",
            "useBuiltIns": "usage",
            "corejs": 3,
            "modules": false
        }
        ]
    ]
}