* {
    box-sizing: border-box;
}

body {
    padding-left: 50%;
}

div {
    height: 500px;
    width: 300px;
}

.mountains {
    font-size: 32px;
    padding: 32px;
    font-weight: 700;
    text-align: center;
    color: white;
    background-image: url(https://github.com/slobodyanuck16/Gromcode/blob/master/Lesson-13/task-1/nature.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
