* {
    box-sizing: border-box;
}

body {
    display: flex;
}

div {
    height: 100px;
    width: 150px;
    margin: 16px;
    background-color: beige;
}

.visible-text {}

.cropped {
    overflow: hidden;
}

.both-scrolls {
    overflow: scroll;
    cursor: all-scroll;
}

.vertical-scroll {
    overflow: auto;
    cursor: all-scroll;
}