main {
    display: flex;
}

picture {
    max-width: 100%;
    margin: auto;
}

img {
    max-width: 100%;
    margin: auto;
<<<<<<< HEAD
}
=======
}
>>>>>>> 8aa304bc5c347dcdefb38e6d42f9d7490c1d448b
