span {
    text-transform: lowercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    background-color: #faebd7;
    border-radius: 4px;
    margin: auto;
}

.navigation {
    background-color: #ff7f50;
    min-height: 200px;
    display: flex;
    flex-grow: 1;
}

.products-list {
    background-color: #006400;
    min-height: 200px;
    display: flex;
    flex-grow: 1;
}

.news {
    background-color: #0ff;
    min-height: 200px;
    display: flex;
}

@media screen and (min-width: 600px) {
    .products {
        display: flex;
        flex-grow: 1;
    }
    .products-list {
        background-color: #006400;
        min-height: 200px;
        width: 25vw;
        display: flex;
    }
    .navigation {
        background-color: #ff7f50;
        display: flex;
        min-height: 200px;
        width: 25vw;
    }
}

@media screen and (min-width: 900px) {
    .content {
        display: flex;
    }
    .products-list {
        background-color: #006400;
        min-height: 200px;
        width: 33.333333333vw;
        display: flex;
        flex-grow: 2;
    }
    .navigation {
        background-color: #ff7f50;
        display: flex;
        min-height: 200px;
        flex-grow: 2;
        width: 33.33333333vw;
    }
    .news {
        background-color: #0ff;
        min-height: 200px;
        display: flex;
        width: 33.33333333vw;
        flex-grow: 1;
    }
}