* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    font-size: 16px;
}

.header {
    background-image: linear-gradient(60deg, red, orange);
    text-align: center;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.main {
    display: flex;
}

.navigation {
    width: 20%;
    padding: 0.5em;
}

.nav-list {
    padding: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.nav-list-item {
    background-color: #808080;
    color: #fff;
    height: 2em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav-list-link {
    text-decoration: none;
    color: #fff;
    padding: 0 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.section {
    width: 60%;
    padding: 0.5em;
    font-size: 1.25em;
}

.section__header {
    font-size: 5vw;
    text-align: center;
}

.units-list {
    line-height: 1.75em;
}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
}

.news {
    width: 20%;
    padding: 0.5em;

}

.footer {
    margin-top: auto;
    background-color: #e5e5e5;
    padding: 0.5em;
    text-align: center;
}
