* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    height: 3em;
    padding: 1em;
    background-color: #eee;
    display: flex;
    align-items: center;
}

button {
    font-size: 2em;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-list {
    padding: 0;
    list-style-type: none;
}

.navigation {
    width: 20%;
    padding: 0.5em
}

.nav-list-item {
    width: 100%;
    background-color: #808080;
    color: #fff;
    line-height: 2em;
    margin: 0.5em;
    display: flex;
}

.nav-list-link {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
    .nav-list {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .nav-list {
        display: block;
    }
    button {
        display: none;
    }
}
