.dropdown {
    position: relative;
    margin: 16px;
    padding: 16px;
    background-color: darkgreen;
    opacity: 0.8;
    color: white;
    display: inline-block;
}

.menu-list {
    position: absolute;
    top: 50px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: lightcyan;
    color: black;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    min-width: 120px;
    z-index: 1;
    display: none;
    list-style-type: none;
}

.menu-button:hover {
    font-size: 16px;
    cursor: pointer;
}

.dropdown:hover .menu-list {
    display: block;
}

.menu-item {
    padding: 16px;
}

.menu-item:hover {
    color: ghostwhite;
}
<<<<<<< HEAD

.dropdown:hover {
    opacity: 1;
}
=======
>>>>>>> 536c84a9f7f42dd6a5f208c0f5cc6dd8f11ef236
