@import 'breakpoints.scss';

* {
    box-sizing: border-box;
}

.container {
    @include for-landscape {
        display: flex;
    }
    @include for-portrait {
        display: flex;
        flex-direction: column;
    }
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #ff7f50;
    margin: 8px;
    
    @include for-medium {
        background-color: #8a2be2;
    }
    @include for-large {
        background-color: #a61;
    }
    @include for-extra-large {
        background-color: #c47;
    }
}


