.gallery {
    display: flex;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: 1;
    cursor: all-scroll;
}

.thumb {
    margin: 8px;
<<<<<<< HEAD
}
=======
}
>>>>>>> c99d051fa6c9b9732351d6ec8de59d69a94667f1
